<section class="three-qtr-wide rants">
  <div class="content-header" style="margin-bottom: -20px"><%= @user.first_name %> <%= @user.last_name %></div>

  <% interesting_ranter = kenny_loggins.followed_users.where(id: @user.id).first %>
  <% if interesting_ranter %>
    <div class="unfollower right-floater" data-interesting-ranter-id="<%= InterestingRanter.where(follower_id: kenny_loggins.id, followed_user_id: interesting_ranter.id).first.id %>" data-ranter-id="><%= @user.id %>">Unfollow</div>
  <% else %>
    <div class="follower right-floater" data-interesting-ranter-id="" data-ranter-id="<%= @user.id %>">Follow</div>
  <% end %>

  </div>
  <br/><br/>
  <hr/>
  <div>
    <div class=bio-box>
      <img class="profile-image" src=<%= @user.image %>>

      <div class="profile-frequency-box"><%= @user.rant_frequency %></div>
    </div>
  </div>
  <br/>

  <div class="bio-box">
    <%= @user.bio %>
  </div>
  <br/>

  <%= form_for [@user, Comment.new], id: "#new_comment" do |f| %>
    <%= f.text_field :body, placeholder: "Enter your comments here...", class: "wide-input" %>
    <br/>
    <%= f.submit "Rant Back", class: "comment-button" %>
  <% end %>
  <br/>
  <br/>

  <% @user_comments.each do |user_comment| %>
    <div class="flex-container">

      <div class="fifteen-wide">
        <img class="ranter-image" src=<%= user_comment.commenter.image%>>
      </div>

      <div class="eighty-five-wide">
        <%= user_comment.body %>
      </div>
    </div>
    <br/>

    <div class="mini-spacer-border"></div>
    <br/>
  <% end %>




  <div class="rants-list">

    <% user_rants = @user.rants %>
    <% Rant.sort_by_most_favorited(user_rants).each do |rant| %>

      <div class="rant">
        <div class="rant-topic"><%= rant.topic %></div>
        <div class="wrap-it"><%= link_to markdown(rant.details).html_safe, rant_path(rant), class: "rant-link" %></div>
      </div>

      <% @rant_to_fave = rant %>
      <%= render "/favorites/links_to_fav_unfav" %>
      <br/>

    <% end %>

  </div>

</section>
