<section class="three-qtr-wide rants">
  <div class="content-header">Favorites</div>
  <hr/>

  <% @favorites.each do |favorite| %>
    <div class="flex-container">

      <div class="fifteen-wide">
        <%= link_to "#{favorite.rant.user.first_name}", profile_path(favorite.rant.user), class: "profile-link" %> <br/>
        <img src=<%= favorite.rant.user.image %>>
        <br/>
        <%= InterestingRanter.build_follow_or_unfollow_link(kenny_loggins, favorite.rant).html_safe%>

      </div>
      <div class="eighty-five-wide">
        <div class="rant-topic"><%= favorite.rant.topic %></div>
        <%= link_to favorite.rant.insert_paragraph_breaks(favorite.rant.details), rant_path(favorite.rant), class: "rant-link" %>
        <% favorite = Favorite.where(rant_id: favorite.rant.id, user_id: kenny_loggins.id).first %>
        <% if !favorite %>
          <%= link_to "Favorite", user_favorites_path(rant_id: favorite.rant.id), method: :POST, class:"right-floater"%>
        <% else %>
          <%= link_to "Unfavorite", user_favorite_path(favorite.id), method: :DELETE, class:"right-floater" %>
        <% end %>
        <br/>
      </div>
    </div>
    <br/>
  <% end %>

</section>



