<% if @user.errors.full_messages.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
  <br/><br/>
<% end %>

<%= form_for @user, url: "/user", html: {:multipart=> true} do |f| %>

  <div class="inline-block with-margin">
    <%= f.label :username %>
    <br/>
    <%= f.text_field :username, class: "wide-input" %>
  </div>
  <div class="inline-block">
    <%= f.label :password %>
    <br/>
    <%= f.text_field :password, type: "password", class: "wide-input" %>
  </div>
  <br/>
  <br/>

  <div class="inline-block with-margin">
    <%= f.label :first_name %>
    <br/>
    <%= f.text_field :first_name, class: "wide-input" %>
  </div>

  <div class="inline-block">
    <%= f.label :last_name %>
    <br/>
    <%= f.text_field :last_name, class: "wide-input" %>
  </div>

  <br/>
  <br/>
  <div class="inline-block">
    <%= f.label :email %>
    <br/>
    <%= f.text_field :email, class: "wide-input" %>
  </div>


  <br/>
  <br/>
  <%= f.label :bio %><br/>
  <%= f.text_area :bio, class: "bio-area" %>
  <br/><br/>
  <% if @user.image_url %>
    <p>Replace Profile Image</p>
  <% else %>
    <p> Add Profile Image</p>
  <% end %>
    <%= image_tag @user.image_url.to_s %>

  <%= f.file_field :image, class: "wide-input" %>

  <p> How Often Do You Rant?</p>
  <div class="flex-container">

    <div class="flex-item">
      <%= f.radio_button :rant_frequency, "Daily" %>
      <%= f.label :rant_frequency, "Daily", value: "Daily" %>
    </div>
    <div class="flex-item">
      <%= f.radio_button :rant_frequency, "Weekly" %>
      <%= f.label :rant_frequency, "Weekly", value: "Weekly" %>
    </div>
    <div class="flex-item">
      <%= f.radio_button :rant_frequency, "Monthly" %>
      <%= f.label :rant_frequency, "Monthly", value: "Monthly" %>
    </div>
  </div>

  <br/>

  <div class="spacer-border"></div>

  <% button_name = if @user.id %>
                    <% "Update" %>
                  <% else %>
                    <% "Register" %>
                  <% end %>

  <%= f.submit "#{button_name}", class: "wide-button" %>
<% end %>

</div>