<div id="show-users">

<div>
<%= @user.first_name %>
</div>
<div>
  <% interesting_ranter = InterestingRanter.where(user_id: kenny_loggins.id, person_id: @user.id).first %>
  <% if interesting_ranter %>
    <%= link_to "Unfollow", user_interesting_ranter_path(interesting_ranter), method: :DELETE %>
  <% else %>
    <%= link_to "Follow", user_interesting_ranters_path(interesting_ranter_id: @user.id), method: :POST %>
  <% end %>
</div>

  <div>
    <%= @user.bio %>
  </div>
</div>

<h3>Rants</h3>

<div class="rants-list">

<% user_rants = @user.rants %>
 <%Rant.sort_by_most_favorited(user_rants).each do |rant| %>

  <div class="rant">
  <div><%= rant.topic %></div>
  <div><%= rant.details %></div>
  </div>
    <br/>

<% end %>

</div>