
    <section class="three-qtr-wide rants">
        <div class="content-header" style="margin-bottom: -20px"><%= @user.first_name %> <%= @user.last_name %></div>


          <% interesting_ranter = InterestingRanter.where(user_id: kenny_loggins.id, person_id: @user.id).first %>
          <% if interesting_ranter %>
            <%= link_to "Unfollow", user_interesting_ranter_path(interesting_ranter), method: :DELETE, class:"right-floater" %>
          <% else %>
            <%= link_to "Follow", user_interesting_ranters_path(interesting_ranter_id: @user.id), method: :POST, class:"right-floater" %>
          <% end %>
        <br/> <br/>
        </div>
        <hr/>
      </div>
      <div>
        <div class=bio-box>
          <img class="profile-image" src=<%= @user.image %>>

          <div class="profile-frequency-box"><%=@user.rant_frequency%></div>
        </div>
      </div>
      <br/>

      <div class="bio-box">
        <%= @user.bio %>
      </div>

      <br/>

      <div class="rants-list">

        <% user_rants = @user.rants %>
        <% Rant.sort_by_most_favorited(user_rants).each do |rant| %>

          <div class="rant">
            <div class="rant-topic"><%= rant.topic %></div>
            <%= link_to rant.insert_paragraph_breaks(rant.details), rant_path(rant), class: "rant-link" %>
          </div>
          <br/>

        <% end %>

      </div>

    </section>
