
<section class="qtr-wide rant-form ">
  <%= render "users/user_profile_block" %>
  <hr/>

  <%= form_for [kenny_loggins, @rant] do |f| %>

    <%= f.label :topic, "A rant about" %><br/>
    <%= f.text_field :topic, class:"wide-input"%>
    <%= @rant.errors[:topic].first %>
    <br/>
    <%= f.label :details, "Rant" %><br/>
    <%= f.text_area :details, class:"wide-text-area" %>
    <%= @rant.errors[:details].first %>

    <%= f.submit "Rant", class: "wide-button" %>

  <% end %>
</section>