<div id="index-rants">

<%= form_tag rants_path, method: :get do %>

  <%= text_field_tag :search %>
  <%= submit_tag ("Search")%>
<% end %>
</div>

<% if @rants %>

<% @rants.each do |rant| %>

  <div>
    <b><%=rant.user.username %> | <%=rant.topic %> </b><br/> <%=rant.details %>
  </div>

<%end%>


<% end %>