
    <section class="three-qtr-wide rants">
        <div class="content-header">Search</div>
        <hr/>

      <%= form_tag rants_path, method: :get, class: "flex-container horizontal-form" do %>
        <%= text_field_tag :search, nil, class: "horizontal-form-input" %>
        <%= submit_tag "Search", class: "horizontal-form-button" %>
      <% end %>

      <br/>
      <br/>

      <% if @rants %>
        <% @rants.each do |rant| %>
          <div class="flex-container">

            <div class="fifteen-wide">
              <%= link_to "#{rant.user.first_name}", profile_path(rant.user), class: "profile-link" %> <br/>
              <img class="ranter-image" src=<%= rant.user.image %>>
              <br/>
              <%= InterestingRanter.build_follow_or_unfollow_link(kenny_loggins, rant).html_safe%>

            </div>
            <div class="eighty-five-wide">
              <div class="rant-topic"><%= rant.topic %> </div>
              <%= rant.insert_paragraph_breaks(rant.details) %>
              <% favorite = Favorite.where(rant_id: rant.id, user_id: kenny_loggins.id).first %>
              <% if !favorite %>
                <%= link_to "Favorite", user_favorites_path(rant_id: rant.id), method: :POST, class:"right-floater"%>
              <% else %>
                <%= link_to "Unfavorite", user_favorite_path(favorite.id), method: :DELETE, class:"right-floater" %>
              <% end %>

            </div>
          </div>
          <br/>
        <% end %>


      <% end %>


    </section>








