

    <section class="three-qtr-wide rants">


        <div class="content-header" style="margin-bottom: -20px"><%= @shown_rant.topic %></div>
      <% favorite = Favorite.where(rant_id: @shown_rant.id, user_id: kenny_loggins.id).first %>
      <% if !favorite %>
        <%= link_to "Favorite", user_favorites_path(rant_id: @shown_rant.id), method: :POST, class:"right-floater" %>
      <% else %>
        <%= link_to "Unfavorite", user_favorite_path(favorite.id), method: :DELETE, class:"right-floater" %>
      <% end %>
      <br/><br/>
        <hr/>


      <div class="shown-rant">
        <%= link_to "#{@shown_rant.user.first_name}", profile_path(@shown_rant.user), class: "profile-link" %><br/>
      <img class="med-image" src=<%= @shown_rant.user.image %>>
      </div>


        <div style="margin-top: 30px;"><%= @shown_rant.insert_paragraph_breaks(@shown_rant.details) %></div>



    </section>

