<div id="show-rants">

  <%= link_to "#{@rant.user.first_name}", user_path(@rant.user), class: "profile-link"%>
  <div><%= @rant.topic %></div>
  <div><%= @rant.details %></div>
  <% favorite = Favorite.where(rant_id: @rant.id, user_id: kenny_loggins.id).first %>
  <% if !favorite %>
  <%= link_to "Favorite", user_favorites_path(rant_id: @rant.id), method: :POST %>
  <% else %>
    <%= link_to "Unfavorite", user_favorite_path(favorite.id), method: :DELETE %>
  <% end %>

</div>