<section class="three-qtr-wide rants">

  <div class="content-header" style="margin-bottom: -20px"><%= @shown_rant.topic %></div>
  <% @rant_to_fave = @shown_rant %>
  <%= render "/favorites/links_to_fav_unfav" %>
  <br/><br/>

  <hr/>

  <a href="https://twitter.com/share" class="twitter-share-button right-floater" data-text=<%=@shown_rant.topic.gsub(" ", "-")%> data-url="http://spewing-thoughts.herokuapp.com/rants/<%=@shown_rant.id%>" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <br/>

  <div class="shown-rant">
    <%= link_to "#{@shown_rant.user.first_name}", profile_path(@shown_rant.user), class: "profile-link" %>
    <br/>
    <img class="med-image" src=<%= @shown_rant.user.image %>>
  </div>

  <div style="margin-top: 30px;"><%= markdown(@shown_rant.details).html_safe %></div>

  <div class="mini-spacer-border"></div>

  <% @shown_rant.comments.each do |comment| %>
    <div class="flex-container">

      <div class="fifteen-wide">
        <img class="ranter-image" src=<%= comment.user.image %>>
      </div>

      <div class="eighty-five-wide">
        <%= comment.body %>
      </div>
    </div>
    <br/>
    <div class="mini-spacer-border"></div>
    <br/>
<% end %>



  <%= form_for [@shown_rant, @shown_rant.comments.new], id: "#new_comment" do |f| %>
    <%= f.text_field :body, placeholder: "Enter your comments here...", class: "wide-input" %><br/>
    <%= f.submit "Rant Back", class:"comment-button" %>
  <% end %>
</section>

