<div id="show-dashboard">


    <div><%= link_to "#{kenny_loggins.first_name} #{kenny_loggins.last_name}", edit_user_profile_path  %></div>


    <div class="rant-form">

       <%= form_for [kenny_loggins, @rant]  do |f| %>
        <div>
        <%=f.label :topic, "A rant about"%>
        <%=f.text_field :topic%>
        </div>
        <div>
          <%=f.label :details, "Rant" %>
          <%=f.text_area :details %>
        </div>

        <div>
          <%=f.submit "Rant"%>
        </div>
      <% end%>


    </div>

  <div class="others-rants">
    <h4>Latest Rants</h4>
    <% @others_rants.each do |rant| %>
      <div class="other-details">
        <%= link_to "#{rant.user.first_name}", user_path(rant.user), class:"profile-link" %>
        <%interesting_ranter = InterestingRanter.where(user_id: kenny_loggins.id, person_id: rant.user_id).first%>
        <% if interesting_ranter%>
          <%= link_to "Unfollow", user_interesting_ranter_path(interesting_ranter), method: :DELETE %>
      <% else %>
          <%= link_to "Follow", user_interesting_ranters_path(interesting_ranter_id: rant.user_id), method: :POST %>
      <% end %>
        <%= link_to "#{rant.details}", rant_path(rant), class:"rant-link"%>

      </div>
    <%end%>

  </div>





    <div class="my-rants">
      <h4>My Rants</h4>
      <% @my_rants.each do |rant| %>
      <div>
        <%= rant.details %>
        <%= link_to "Delete", user_rant_path(rant), method: :delete%>
     </div>
      <%end%>

    </div>

</div>