<div id="show-dashboard">

  <article>



<%= render "users/user_profile_block" %>


  <section class="rant-form">
    <%= form_for [kenny_loggins, @rant] do |f| %>
      <div>
        <%= f.label :topic, "A rant about" %>
        <%= f.text_field :topic %>
        <%= @rant.errors[:topic].first %>
      </div>
      <div>
        <%= f.label :details, "Rant" %>
        <%= f.text_area :details %>
        <%= @rant.errors[:details].first %>

      </div>

      <div>
        <%= f.submit "Rant" %>
      </div>
    <% end %>
  </section>


  <section class="others-rants rants">
    <h4>Others Rants</h4>
    <% @others_rants.each do |rant| %>
      <div class="other-details">
        <%= link_to "#{rant.user.first_name}", user_path(rant.user), class:"profile-link" %>
        <%interesting_ranter = InterestingRanter.where(user_id: kenny_loggins.id, person_id: rant.user_id).first%>
        <% if interesting_ranter%>
          <%= link_to "Unfollow", user_interesting_ranter_path(interesting_ranter), method: :DELETE %>
      <% else %>
          <%= link_to "Follow", user_interesting_ranters_path(interesting_ranter_id: rant.user_id), method: :POST %>
      <% end %>
        <%= link_to "#{rant.details}", rant_path(rant), class:"rant-link"%>

      </div>
      <% favorite = Favorite.where(rant_id: rant.id, user_id: kenny_loggins.id).first %>
      <% if !favorite %>
        <%= link_to "Favorite", user_favorites_path(rant_id: rant.id), method: :POST %>
      <% else %>
        <%= link_to "Unfavorite", user_favorite_path(favorite.id), method: :DELETE %>
      <% end %>
    <%end%>

  </section>

    <section class="my-rants rants">
      <h4>My Rants</h4>
      <% @my_rants.each do |rant| %>
      <div>
        <%= rant.details %>
        <%= link_to "Delete", user_rant_path(rant), method: :delete%>
     </div>
        <br/>
      <%end%>

    </section>


    <section class="mentioned-rants rants">
      <% if @mentioned_rants != [] && @mentioned_rants != nil %>
      <h4>Mentioned Rants</h4>
      <% @mentioned_rants.each do |rant| %>
        <div>
          <%= rant.details %>
        </div>
        <br/>
      <%end%>

    </section>
    <% end %>



  </article>
</div>