<div id="show-dashboard">


    <div><%= link_to "#{kenny_loggins.first_name} #{kenny_loggins.last_name}", edit_profile_path  %></div>


    <div class="rant-form">

       <%= form_for [kenny_loggins, @rant]  do |f| %>
        <div>
        <%=f.label :topic, "A rant about"%>
        <%=f.text_field :topic%>
        </div>
        <div>
          <%=f.label :details, "Rant" %>
          <%=f.text_area :details %>
        </div>

        <div>
          <%=f.submit "Rant"%>
        </div>
      <% end%>


    </div>

  <div class="others-rants">
    <h4>Latest Rants</h4>
    <% @others_rants.each do |rant| %>
      <div>
        <%= rant.user.first_name%>
        <%= rant.details %>
      </div>
    <%end%>

  </div>





    <div class="my-rants">
      <h4>My Rants</h4>
      <% @my_rants.each do |rant| %>
      <div>
        <%= rant.details %>
        <%= link_to "Delete", user_rant_path(kenny_loggins, rant), method: :delete%>
     </div>
      <%end%>

    </div>

</div>