<section class="three-qtr-wide rants">

  <div class="content-header">Following</div>
  <hr/>

  <% @interesting_ranters.each do |interesting_ranter| %>
    <% person = User.find(interesting_ranter.person_id) %>
    <div class="follow-block">
      <div class="profile-link"><%= person.first_name %> <%= person.last_name %></div>
      <%= image_tag person.image %>
      <br/>

      <div class="unfollower" data-interesting-ranter-id="<%= interesting_ranter.id %>" data-ranter-id="><%= person.id %>">Unfollow</div>

    </div>
  <% end %>

</section>
