<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <!--<div>-->
  <div class="brand">
    Rant.ly
  </div>
  <!--</div>-->

  <div class="navbar-right">

    <% if !kenny_loggins %>
      <div>
        <%= link_to "Login", login_path %>
      </div>
      <div class="nav-button">
        <%= link_to "Join", new_user_path%>
      </div>
    <% else %>

      <div class="nav-button">
        <%= link_to "Logout", logout_path%>
      </div>

      <div>
        <%= link_to "Dashboard", user_dashboard_path%>
      </div>

      <div>
        <%= link_to "Following", user_interesting_ranters_path%>
      </div>

      <div>
        <%= link_to "Favorites", user_favorites_path%>
      </div>

      <div>
        <%= link_to "Search", rants_path%>
      </div>


    <% end %>



  </div>

</div>

<%= yield %>

</body>
</html>
