<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<article class="navbar">

  <div class="brand">
    <%= link_to "Rant.ly", user_dashboard_path%>
  </div>


  <% if kenny_loggins %>

    <div class="navbar-middle">

      <div>
        <%= link_to "Dashboard", user_dashboard_path %>
      </div>

      <div class="nav-divider">|</div>

      <div>
        <%= link_to "Following", user_interesting_ranters_path %>
      </div>

      <div class="nav-divider">|</div>

      <div>
        <%= link_to "Favorites", user_favorites_path %>
      </div>

      <div class="nav-divider">|</div>

      <div>
        <%= link_to "Search", rants_path %>
      </div>

    </div>

    <div class="navbar-right">

        <%= form_for :session, url: session_path(kenny_loggins), method: :delete do |f| %>
        <%f.submit "Logout", class:"nav-button"%>
        <% end %>

    </div>

    </article>

    <article class="flex-container">

      <%= render "/rants/form" %>

      <%= yield %>

    </article>

  <% else %>
    <div class="navbar-right" style="width:80%">

        <%= link_to "Login", login_path %>

        <%= link_to "Join", new_user_path, class:"nav-button" %>

    </div>

    </article>

    <div>
      <%= yield %>
    </div>

  <% end %>

  </body>

</html>
