<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <!--<div>-->
  <div class="brand">
    Rant.ly
  </div>
  <!--</div>-->

  <div class="navbar-right">

    <div class="login">
      <%= link_to "Login", new_session_path %>
    </div>
    <div class="join">
      <%=link_to "Join", new_user_path%>
    </div>
  </div>

</div>

<%= yield %>

</body>
</html>
