<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<article class="navbar">

  <div class="brand">
    <%= link_to "Rant.ly", root_path %>
  </div>

  <div class="navbar-middle">

    <div>
      <%= link_to "Dashboard", user_dashboard_path %>
    </div>

    <div class="nav-divider">|</div>

    <div>
      <%= link_to "Following", user_interesting_ranters_path %>
    </div>

    <div class="nav-divider">|</div>

    <div>
      <%= link_to "Favorites", user_favorites_path %>
    </div>

    <div class="nav-divider">|</div>

    <div>
      <%= link_to "Search", rants_path %>
    </div>

  </div>

  <div class="navbar-right">

    <div class="nav-button">
      <%= link_to "Logout", logout_path %>
    </div>

  </div>

</article>

<div>
  <%= yield %>
</div>

</body>

</html>
