<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<article class="navbar">

  <div class="brand">
    <%= link_to "Rant.ly", root_path %>
  </div>

  <div class="navbar-right" style="width:80%">

    <div>
      <%= link_to "Login", login_path %>
    </div>

    <div class="nav-button">
      <%= link_to "Join", new_user_path %>
    </div>

  </div>

</article>

<div>
  <%= yield %>
</div>

</body>

</html>
